#contact
{
    background-image: var(--gradient-four);
}

.content h3
{
    font-family: "Nav", "Helvetica", sans-serif;
    font-size: 3em;
}

.content p
{
    font-family: "Subtitle", "Times New Roman", serif;
    font-size: 2em; 
}

.header
{
    color: var(--palette-coral);
}

.nav-contact
{
    background-color: var(--palette-coral);
}

.nav-contact#active
{
    color: var(--palette-coral);
}

.content
{
    vertical-align: top;
    line-height: 1;
}

.portrait
{
    display: inline-block;
    position: relative;
    width: 33.33%;
    padding: 40px;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -30;
}


.portrait img
{
    width: 100%;
    border: 4px solid var(--palette-coral);
    border-radius: 10px;
    box-shadow: -5px 5px var(--palette-coral);
    z-index: -20;
}

.about
{
    display: inline-block;
    position: relative;
    width: 66.66%;
    padding: 40px;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1;
    cursor: text;
    color: var(--palette-coral);
    background-color: var(--palette-cream);
    border-radius: 10px;
    margin-top: 3%;

}

@media only screen and (max-width: 720px){
    
    
    .portrait
    {
        width: 50%;
    }

    .about
    {
        width: 100%;
        margin-top: 0px;
    }
}