

body#fanart
{
    background-image: var(--gradient-three);
}

.header
{
    color: var(--palette-purple);
}

.content
{
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}

.tweets
{
    display: block;
    position: relative;
    /* width: 20%; */
    width: calc(50% + 8px);
    padding-left: 25%;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    

}

iframe
{
    border: 8px solid var(--palette-purple);
    border-radius: 16px;
    box-shadow: -10px 10px var(--palette-purple);
    box-sizing: border-box;
    
}

.nav-fanart
{
    background-color: var(--palette-purple);
}

.nav-fanart#active
{
    color: var(--palette-purple);
}

/* .nav-fanart:hover
{
    background-color: var(--palette-blue);
} */