

@font-face {
    font-family: "Title";
    src: url("../assets/fonts/sans-bold.otf")
}

@font-face {
    font-family: "Nav";
    src: url("../assets/fonts/sans.otf")
}

@font-face {
    font-family: "Subtitle";
    src: url("../assets/fonts/serif-thinitalic.ttf")
}

:root {
    --palette-blue: rgba(30,83,235);
    --palette-cream: rgba(249,248,242);
    --palette-white: rgba(255,255,255);
    --palette-mandarin: rgb(255, 148, 0);
    --palette-yellow: rgb(255, 208, 0);
    --palette-purple: rgb(89, 59, 148);
    --palette-coral: rgb(255, 127, 80);

    --gradient-one: linear-gradient(var(--palette-cream) 20%, var(--palette-blue) 75%);
    --gradient-two: linear-gradient(var(--palette-cream) 20%, var(--palette-mandarin) 75%);
    --gradient-three: linear-gradient(var(--palette-cream) 20%, var(--palette-purple) 75%);
    --gradient-four: linear-gradient(var(--palette-cream) 20%, var(--palette-coral) 75%);
    --gradient-overlay: linear-gradient(var(--palette-cream) 3%, rgba(255,255,255,0) 16%);
}

body {
    font-size: 16;
    width: 100vw;
    height: 100vh;
    background-color: var(--palette-cream);
    /* background-image: var(--gradient-one); */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor:url(../assets/icon-macpaint-pencil.png) 0 32, auto;
}

#illustration
{
    background-image: var(--gradient-one);
}

h1 {
    font-family: "Title", 'Helvetica', sans-serif;
    font-size: 3em;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Subtitle", 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

a
{
    color: var(--palette-blue);
    /* background-color: var(--palette-blue);  */
}
a:visited
{
    color: var(--palette-blue);
}
a:hover
{
    color: var(--palette-yellow);
}

.p5canvas
{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

.header {
    display: block;
    position: fixed;
    color: var(--palette-blue);
    margin-left: 2%;
    margin-top: 2%;
    transform: rotate(-3deg);
    z-index: 30;
}

.header:hover
{
    color: var(--palette-yellow);
}

.header h2 {
    margin-top: -10px;
}

.nav 
{
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    border-top: 4px solid var(--palette-cream);
    box-sizing: border-box;
    z-index: 10;
}

.nav-item 
{
    font-family: "Nav", 'Helvetica', sans-serif;
    font-size: 1.5em;
    color: var(--palette-cream);
    background-color: var(--palette-blue);
    display: inline-block;
    margin: 0px;
    text-align: center;
    /* padding: 10px; */
    box-sizing: border-box;
    width: 25%;
    height: 90px;
    text-transform: uppercase;
}

.nav-item:hover
{
    background-color: var(--palette-yellow);
    color: var(--palette-cream);
}

#active
{
    background-color: var(--palette-cream);
    color: var(--palette-blue);
}

.gradient-overlay
{
    display: block;
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-image: var(--gradient-overlay);
    pointer-events: none;
}

.content
{
    display: block;
    position: fixed;
    z-index: 10;
    width: 100vw;
    /* max-width: 1200px; */
    height: calc(100% - 90px);
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 100px;
    /* right: 0; */
}

.portfolio-image
{
    display: inline-block;
    position: relative;
    width: 33.3%;
    box-sizing: border-box;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    filter: opacity(0);
    transform: translateY(50px) rotate(0deg);
    transition: 1s;
    user-select: none;
}

.portfolio-image img
{
    display: inline-block;
    position: relative;
    width: 100%;
    /* max-width: 400px; */
    padding: 0px;
    border: solid 4px var(--palette-blue);
    border-radius: 10px;
    box-shadow: -5px 5px var(--palette-blue);
    filter:brightness(0.9);
}

.portfolio-image img:hover
{
    border: solid 4px var(--palette-yellow);
    border-radius: 10px;
    box-shadow: -5px 5px var(--palette-yellow);
    filter:brightness(1);
}

.portfolio-image p
{
    display: block;
    position: fixed;
    font-family: "Subtitle", "Times New Roman", serif;
    font-size: 1.5em;
    text-align: right;
    background-color: var(--palette-cream);
    padding: 10px;
    margin: 0px;
    margin-left: 20px;
    border-radius: 0px 0px 10px 10px;
}



.hero
{
    width: 100%;
}

.hero
{
    width: 100%;
}




@media only screen and (max-width: 1080px)
{
    .portfolio-image
    {
        width: 50%;
    }

    .hero{
        width: 100%;
    }

}

@media only screen and (max-width: 720px){
    .nav 
    {
        height: 60px;
    }
    
    .nav-item
    {
        font-size: 1em;
    }

    .content
    {
        height: calc(100% - 60px);
    }

    .portfolio-image
    {
        display: block;
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media only screen and (max-width: 500px){
    
    
    .nav 
    {
        height: 45px;
    }
    
    .nav-item
    {
        font-size: 0.75em;
    }

    .content
    {
        height: calc(100% - 45px);
    }
}